<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>中超赛事</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/css/main/layui.css"  th:href="@{/css/main/layui.css}" media="all" rel="stylesheet">
    <style>
        .logoWidth15{
            width: 15%;
        }
        .logoHeight15{
            height: 15%;
        }
        .logoHeight{
            height: 70%;
        }
        .fr{
            float: right;
        }
    </style>
</head>
<body>
<div class="header">
    <ul class="layui-nav">
        <li class="layui-nav-item layui-this"><a href="">主页</a></li>
        <!--<li class="layui-nav-item">
            <a href="javascript:;">官方公告</a>
        </li>
        <li class="layui-nav-item"><a href="">赛事新闻</a></li>-->
        <li class="layui-nav-item" style="float: right"><a href="login.html">登录</a></li>
        <li class="layui-nav-item" style="float: right"><a th:href="@{/register}">注册</a></li>
    </ul>
</div>
<div>
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <div class="layui-carousel" id="test1" lay-filter="test1">
                <div style="vertical-align: middle;text-align: center;">
                    <img th:src="@{/img/banner.jpg}">
                </div>
            </div>
            <hr>
        </div>
        <div class="col-sm-12" style="height: 100px;vertical-align: middle;text-align: center;">
            <img class="logoHeight" th:src="@{/img/team/FgVAEKNTP255RO3YPQuCKR5ceuTd.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FhbRzK1_fX0fWJr9TmxsDbwLjSDj.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FhbXg7FZf3UtjiHgeKGFpyaU86vP.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FhnVQd9tUYHhw9Ku-j1n00UdAq8Z.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FiHTwQi7DEP84Imh2x3Agznej55f.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FijuS5LjoA_WjcdWtv3qodW2I3aX.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FiTVAwpnl506Lj28aEZdXN6O_NTY.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FmvJJIM4MaN3SqUByPSx_uY9F-yb.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FnRHBdkNhQK3mA7LS38v2KNCOCPD.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FoBIzWyGBez6hMwpJ4kDW87dgI75.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FoKNRHw6ZAz7PwZHY0Vr0ONsdeaw.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FoSZaaHVVdsq72dMvUm73JM-LucZ.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FqtHmS_1OZRajvJ9Km4U1U5f3VAO.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/Frz1t0c2uTVFoAkuFuZ0Vd0m5uIi.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/Fs0VE3zzoh316SLPKaQ3jXDSa-Jo.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/FtS-frsJHyHO4gbzoaeGpESetGK_.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/Fun6NJ2j9vFHViXGT9M5UvY-V7QL.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/Fv6HRz-L8N9SnYbtDmLtF00j6fY4.jpg}" alt="" style="cursor:pointer;">
            <img class="logoHeight" th:src="@{/img/team/Fvb9LOb7OzM650iMqmJRp1PsF512.jpg}" alt="" style="cursor:pointer;">
        </div>
        <div class="col-sm-9">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>赛事新闻</legend>
            </fieldset>
            <div id="news" style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15" >
                    <!--<div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <a>用足球与媒体的力量唤燃亿心 2020中国平安中超联赛媒体传播大盘点</a>
                                <span class="fr">2020-11-16 05:10:00</span></div>
                            <div class="layui-card-body">
                                内容...
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>球队排行榜</legend>
            </fieldset>
            <div class="ibox float-e-margins">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>球员排行榜</h5>
                    </div>
                    <div class="ibox-content">
                        <table id="bootstrap-table1"></table>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>赛程</h5>
                    </div>
                    <div class="ibox-content">
                        <table id="bootstrap-table2"></table>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>通知公告</h5>
                    </div>
                    <div class="ibox-content">
                        暂无......
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<th:block th:include="include :: footer" />

<script th:inline="javascript">
    $(function() {
        var options = {
            id: "bootstrap-table",
            url: "visitor/team/list",
            detailUrl: "visitor/team/detail/{id}",
            modalName: "球队",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            striped: true,
            sortName: "score",
            sortOrder: "desc",
            classes: "table table-no-bordered table-striped table-hover",
            columns: [
                {
                    field: '',
                    title: '排名',
                    formatter: function(value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'name',
                    title: '球队',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // var imgPath = "../ry/img/team/" + row.logo;
                        var imgPath = row.logo.indexOf('http://')>=0 ? row.logo : "../ry/img/team/" + row.logo;
                        actions.push('<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')">');
                        actions.push('<img class="logoWidth15" src=' + imgPath + '></a> ');
                        actions.push(value);
                        return actions.join(' ');
                    }
                },
                /*{
                    field: 'win',
                    title: '赢'
                },
                {
                    field: 'lose',
                    title: '输'
                },*/
                {
                    field: 'score',
                    title: '积分'
                },
                {
                    field: 'session',
                    title: '场次'
                }/*,{
                        field: 'flat',
                        title: '平'
                    },
                    {
                        field: 'goal',
                        title: '进球'
                    },
                    {
                        field: 'conceded',
                        title: '丢球'
                    }*/]
        };
        $.table.init(options);

        var options1 = {
            id: "bootstrap-table1",
            url: "visitor/player/list",
            detailUrl: "visitor/player/detail/{id}",
            modalName: "球员",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            striped: true,
            classes: "table table-no-bordered table-striped table-hover",
            columns: [
                /*{
                    field: 'teamId',
                    title: '球队id'
                },
                {
                    field: 'headPortrait',
                    title: '头像'
                },*/
                {
                    field: 'name',
                    title: '球员',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')">');
                        actions.push('<img class="img-circle" style="width: 10%;" src=' + row.headPortrait + '></a> ');
                        actions.push(value);
                        return actions.join(' ');
                    }
                }/*,
                    {
                        field: 'birthdate',
                        title: '出生年月'
                    }*/,
                {
                    field: 'location',
                    title: '位置'
                },
                {
                    field: 'nationality',
                    title: '国籍/籍贯'
                },
                {
                    field: 'appearance',
                    title: '出场'
                },
                {
                    field: 'goals',
                    title: '进球'
                }]
        };
        $.table.init(options1);

        var options2 = {
            id: "bootstrap-table2",
            url: "visitor/competition/list",
            modalName: "赛程",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            striped: true,
            classes: "table table-no-bordered table-striped table-hover",
            columns: [
                {
                    field: 'gameTime',
                    title: '时间'
                },
                {
                    field: 'teamAName',
                    title: '甲方'
                },
                {
                    field: '',
                    title: '',
                    formatter: function(value, row, index) {
                        return 'vs';
                    }
                },
                {
                    field: 'teamBName',
                    title: '乙方'
                },
                {
                    field: 'site',
                    title: '地点'
                },
                {
                    field: 'session',
                    title: '场次'
                }]
        };
        $.table.init(options2);

        var newsList = [];
        var newsUrl = "/ry/visitor/news/list";
        $.ajax({
           type: "post",
           url: newsUrl,
           dataType: "json",
           contentType: "application/json",
           success: function (data) {
               newsList = data.rows;
               var newsHtm = '<div class="layui-row layui-col-space15" >';
               for (var i = 0; i < newsList.length; i++) {
                   var item = newsList[i];
                   newsHtm = newsHtm + '<div class="layui-col-md12"><div class="layui-card"><div class="layui-card-header">';
                   newsHtm = newsHtm + '<a>' + item.newsTitle + '</a>';
                   newsHtm = newsHtm + '<span class="fr">' + item.createTime + '</span></div>';
                   newsHtm = newsHtm + '<div class="layui-card-body">' + item.newsContent;
                   newsHtm = newsHtm + '</div></div></div>';
               }
               newsHtm = newsHtm + '</div>';
               $("#news").html(newsHtm);
           }
        });
    });

    $('#pay-qrcode').click(function(){
        var html=$(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn:false,
            shadeClose:true,
            area: ['600px', '360px'],
            content: html
        });
    });



</script>
</body>
</html>